.cardStyles {
    border: none;
    outline: none;
    background-color: transparent;
    border: 2px solid red;

    .cardHeaderStyles,
    .cardCollapseStyles {
        background-color: transparent;
        box-shadow: none;
        border: none;
        padding: 0 !important;
        margin: 0 !important;
        color: red;
    }
}