.pageContainer {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    .contentContainer {
        width: 100%;
        height: auto;
        margin: 0;
        // padding: 0 20px;

        .pageHead {
            width: 100%;
            text-align: center;
            font-size: 45px;
            font-family: 'Rubik', sans-serif;
            font-weight: 600;
            background-color: #F5F5F5;
            padding: 70px 0;
            z-index: 0;
            margin-top: 6px;
        }
    }

    .FAQsContentContainer {
        width: 100%;
        display: flex;
        border: 2px solid red;
        max-width: 1200px;
        justify-content: center;
        margin: 0 auto;

        padding: 0 50px;

        .FAQsContentContainerLeftSide {
            width: 30%;
            border: 2px solid red;
            margin-top: 26px;

            p {
                font-family: 'Rubik-Medium', sans-serif;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0px;
            }
        }



        .FAQsContentContainerRightSide {
            width: 70%;
            border: 2px solid red;

            .specificFAQHeader {
                font-family: 'Rubik-Medium', sans-serif;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0px;

                span {
                    color: #3576D8;
                }
            }
        }
    }
}